.about-us {
  background-color: #fcfaef;

  margin-top: -96px;

  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding-left: calc(50vw - 50%);
  padding-right: calc(50vw - 50%);

  padding-top: 48px;
  padding-bottom: 48px;

  @include onTablet {
    margin-top: -120px;

    padding-top: 120px;
    padding-bottom: 120px;
  }

  @include pageGrid;

  &__title {
    margin: 0;
    margin-bottom: 24px;

    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 1 / 4;
    }

    @include onDesktop {
      grid-column: 1 / 7;
    }
  }

  &__content {
    grid-column: 1 / -1;

    @include onTablet {
      grid-column: 4 / 7;
    }

    @include onDesktop {
      grid-column: 8 / 13;
    }
  }

  &__description {
    margin: 0;
    line-height: 140%;
  }
}
