.product {
  &__link {
    display: block;
    text-decoration: none;
    color: inherit;

    &:hover .product__title {
      text-decoration: underline;
    }

    &:hover .product__photo {
      transform: scale(1.05);
    }
  }

  &__photo {
    width: 100%;
    border-radius: 4px;
    transition: transform $effectDuration ease;
  }
}
